#nav-wrapper {
    padding-top: 20px;   /* space above the floating nav */
}

.custom-nav {
    width: 90%;
    margin: 0 auto;       /* centers the navbar */
    border-radius: 40px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    background: white;
    padding: 15px 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
}
.contact-box {
    background-color: #8F9B74;
    padding: 80px 0;
    border-radius: 40px;
    text-align: center;
    color: #2f3a1f;
    font-family: 'Times New Roman', serif;
}

/* green submit button to match the box */
.btn-custom {
    border: none;
    color: #ffffff;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 8px;
}
